@font-face {
    font-family: 'Uni-sans';
    src: url('assets/fonts/Uni\ Sans\ Thin.woff2') format('woff2');
}

:root {
    --lighterGray: rgb(101, 101, 101);
    --lightGray: rgb(92, 92, 92);
    --hoverColor: rgb(219, 219, 219);
    --activeColor: rgb(195, 195, 195);
    --fontFamily: "Uni-sans", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 240px minmax(600px, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav books"
    ;

    height: 100%;
    font-family: "Uni-sans", Arial, Helvetica, sans-serif;
}

.icon {
    width: 30px;
    height: 30px;
}

label {
    cursor: pointer;
}


/* Side Nav */
.side-nav {
    grid-column: 1/2;
    width: 240px;
    height: clamp(700px, 100%, 100vh);

    display: flex;
    flex-direction: column;
    align-items: end;

    position: fixed;
    background-color: whitesmoke;
    font-family: "Uni-sans", Arial, Helvetica, sans-serif;
}

.logo-text {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--lightGray);
}

.side-nav-logo {
    padding-top: 10px;
    padding-right: 8px;
}

.side-nav-search {
    --iconWidth: 22px;
    --iconHeight: 22px;
    --labelWidth: var(--iconWidth);
    --labelHeight: var(--iconHeight);

    padding-top: 5px;
    padding-right: 8px;
}

.side-nav-search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: var(--iconWidth);
    height: var(--iconHeight);
}

.side-nav-search label {
    width: var(--labelWidth);
    height: var(--labelHeight);
}

#search-bar {
    width: 175px;

    font-family: inherit;
    font-size: 16px;
    color: var(--lightGray);

    border-radius: .6rem;
    border: var(--lightGray) 1px solid;
    padding: 1px 8px 0 8px;
    margin-left: 5px;
    background-color: rgb(233, 233, 233, 0.1);
}

#search-bar:focus-visible {
    outline: 1px rgb(72, 72, 72) solid;
}

#search-bar::placeholder {
    text-align: end;
}

/* Nav Tabs */
.nav-tabs {
    width: 150px;
    height: 300px;
    margin-top: 2rem;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 25px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

.tab:hover {
    background-color: var(--hoverColor);
}

.tab:active {
    background-color: var(--activeColor);
}

.tab p {
    font-size: 12px;
    font-weight: 200;
    margin-top: 3px;
    text-align: start;
}

.nav-tab-icon {
    --iconSize: 16px;
    width: var(--iconSize);
    height: var(--iconSize);
    user-select: none;
    margin-right: auto;
    margin-left: 1.5rem;
}


/* Book Section */
.book-section {
    grid-column: 2/3;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 2rem;
    color: var(--lightGray);

    height: 100%;
    padding: 16px 10px 16px 20px;
    background-color: white;
}

/* Book card */
.book {
    --bgColor: rgb(232, 232, 232);

    position: relative;
    overflow: hidden;
    width: min(220px);
    height: 290px;

    color: var(--lightGray);
    background-color: var(--bgColor);
    flex-shrink: 0;
}

.book-img-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img-container img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transition: .5s;
}

/* Book Hover "Animation" */
.book-desc {
    position: absolute;
    top: 0;
    right: -100%;
    /* Off screen */
    transition: .5s;

    display: flex;
    flex-direction: column;

    padding: 8px;
    padding-top: 1rem;
    width: 150px;
    height: 100%;
    background-color: var(--bgColor);
    color: black;
}

.book:hover .book-desc {
    right: 0;
    /* Comes back on screen */
}

/* change background */
.book:hover .book-img-container>img {
    filter: opacity(.4);
}

.book-title {
    font-size: 20px;
}

.book-author {
    margin-top: 8px;
    font-size: 15px;
}

.book-pages {
    margin-top: 8px;
    font-size: 12px;
}

/* Book actions */
.book-actions {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.book-actions div {
    display: flex;
    justify-content: end;
    align-items: center;
}

.book-actions div:hover {
    background-color: var(--hoverColor);
}

.book-actions div:active {
    background-color: var(--activeColor);
}

.book-action-text {
    margin-top: 3px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}

.book-action-icon {
    --iconSize: 16px;
    width: var(--iconSize);
    height: var(--iconSize);
    user-select: none;
    margin-right: auto;
    margin-left: 1.3rem;
}

/* Already Read Option */
#contain-book-already-read {
    display: none !important;
}


/* Modal */
.hidden {
    display: none;
}

.modal {
    --inputBg: rgba(233, 233, 233, 0.1);
    --inputBorder: rgb(201, 201, 201) 1px solid;

    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    font-family: inherit;
    color: black;
}

.modal-desc {
    font-size: 18px;
    padding: 1rem 10px 10px 16px;
}

/* Form Styling */
.modal form {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 450px;

    padding: 2rem 10px 10px 16px;
    font-size: 13px;
}

/* Manual align text*/
.modal form label,
.form-text {
    margin-top: 3px;
}

/* Input Containers */
.form-input-container,
.form-radio-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* Input box Styling */
.form-input-container input {
    height: 22px;
    width: 150px;

    margin-left: auto;
    border-radius: 2px;
    border: var(--inputBorder);
    padding: 1px 8px 0 8px;
    margin-top: 1px;
    font-family: inherit;
    background-color: var(--inputBg);
}

.form-input-container input:focus-visible {
    outline: 1px grey solid;
}

#book-pages {
    width: 65px;
}

/* Radio btns */
.form-radio-buttons {
    margin-top: 8px;
}

.form-radio-buttons div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.form-radio-buttons label {
    margin: 3px 6px 0 6px !important;
    user-select: none;
}
/* Hide the default appearance */
input[type="radio"] {
    appearance: none;
    background-color: transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: var(--inputBorder);
    position: relative;
    cursor: pointer;
}
/* Add a background for the unchecked state */
input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--inputBg);
    /* Inner background color for unchecked */
}
/* Style for checked state */
input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    /* Inner dot size */
    height: 8px;
    background-color: grey;
    /* Color of the inner dot */
    border-radius: 50%;
}
/* Form Upload File Container + Input Button */
#form-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
#book-img { /* This is the input container */
    color: transparent;
    width: 90px;
    margin-left: auto;
}
#book-img::file-selector-button { /* This is the actual button */
    background-color: var(--inputBg);
    border: var(--inputBorder);
    font-family: var(--fontFamily);
    padding: 2px 5px 0 5px ;
    margin: 0;
    margin-left: 8px;
    font-size: 12px;
}
#book-img::file-selector-button:hover {
    background-color: var(--hoverColor);
}
#book-img::file-selector-button:active {
    background-color: var(--activeColor);
}


/* Submit, cancel Btns */
.form-sc-btn-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: end;
}

.form-sc-btns {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-sc-btns button {
    width: 120px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 4px;
    font-family: inherit;
    text-align: end;
    user-select: none;
}

.form-sc-btns button:hover {
    background-color: var(--hoverColor);
}

.form-sc-btns button:active {
    background-color: var(--activeColor);
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}